<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            Vanwt的博客
        {% endblock %}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Font-Awesome -->
    <link rel="stylesheet" href="/static/css/font-awesome/css/font-awesome.min.css">
    <!-- Styles -->
    <link rel="stylesheet" href="/static/css/style.css" id="theme-styles">
    {% block style %}
    {% endblock %}
</head>
<body>
<header>
    <div class="widewrapper masthead">
        <div class="container">
            <a href="/" id="logo" target="_self">
                <img src="/static/img/logo.png" alt="clean Blog">
            </a>
            <div id="mobile-nav-toggle" class="pull-right">
                <a href="#" data-toggle="collapse" data-target=".clean-nav .navbar-collapse">
                    <i class="fa fa-bars"></i>
                </a>
            </div>

            <nav class="pull-right clean-nav">
                <div class="collapse navbar-collapse">
                    <ul class="nav nav-pills navbar-nav">
                        <li>
                            <a href="/" target="_self">
                                <i class="fa fa-home"></i>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/note/category/" target="_self">
                                <i class="fa fa-bookmark"></i>
                                Notes
                            </a>
                        </li>
                        <li>
                            <a href="/post/category/" target="_self">
                                <i class="fa fa-newspaper-o"></i>
                                Posts
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/vanwt" target="_blank">
                                <i class="fa fa-github"></i>
                                Git
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>
</header>

<div class="widewrapper main">
    <div class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                {% block content %}
                {% endblock %}
            </div>
            <aside class="col-md-4 blog-aside">
                <div class="aside-widget">
                    <header>
                        <h3>作者介绍</h3>
                    </header>
                    <div class="body text-left clearfix">
                        <p style="margin-left: 18px;"><strong>van wt</strong>
                            <br>
                            喜欢电脑，骑行，学习!
                            <br>
                            读书寻找快乐，骑行感受自然
                            <br>
                            现居山东;目前职业是运维开发;
                            喜欢研究web方面的知识
                        </p>
                    </div>
                </div>

                <div class="aside-widget">
                    <header>
                        <h3>应用</h3>
                    </header>
                    <div class="body clearfix">
                        <ul class="tags">
                            <li><a style="color: forestgreen" onclick="alert('暂无')">毒鸡汤</a></li>
                        </ul>
                    </div>
                </div>
                <div class="aside-widget">
                    <header>
                        <h3>最近发布</h3>
                    </header>
                    <div class="body clearfix">

                        <ul class="clean-list">
                            {% for note in new_notes %}
                            <li><a href="/note/{{ note.id }}/">{{ note.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="aside-widget">
                    <header>
                        <h3>标签</h3>
                    </header>
                    <div class="body clearfix">
                        <ul class="tags">
                            {% for tag in tags %}
                                <li><a href="#">{{ tag.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>

<footer>
    <div class="widewrapper footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-widget">
                    使用Python3.8 + Django3.0 搭建<br>部署在腾讯云主机
                </div>
                <div class="col-md-4 footer-widget">
                    累计访问量: {{ see }}
                </div>
                <div class="col-md-4 footer-widget">
                    探讨知识，寻找水友^_^ <br>
                    QQ:1361577731
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/modernizr.js"></script>
{% block script %}
{% endblock %}
</body>
</html>